<ion-side-menus >
    <ion-side-menu-content>
  <ion-pane >
  <ion-header-bar class="bar bar-header bar-dark">
    <button menu-toggle="left" class="button button-icon icon ion-navicon-round" ng-click="toggleLeft"> </button>
        
        <h1 class="title" style=" font-size:25px; ">Search It !!</h1>
      
    
  </ion-header-bar>
  <ion-content class="scroll-pane">
    <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
  <div class="col col-center ">

                <div class="list">  
                </br>
            <label class="item item-input item-select">
            <div class="input-label">
                 Categories
           </div>
            <select ng-model="selectedCategories.categoryId" ng-options="category.categoryId as category.name for category in chooseCategories" ng-change="openModal(selectedCategories.categoryId)"></select>
           </label>
                <label >
        </br>
           </label>
     
                      <label class="item item-input list-inset " ng-show="searchFor" >
                  <strong> <input type="text" id="store" ng-model="store" class="store" name="store" placeHolder="Search your Item ..." required="required"> </strong>
                   </label>
                 
                <label >
        </br>
           </label>
           <label >   </br>
        </br> </br>
           </label>
                      <div ng-show="categoriesMap">

 </div>
 </div>

                   
                                           
                    
                        <button type="submit" id="button2"  ng-click="searchThis(store)" data-inline="true" class="button button-full button-assertive" ><i class='ion-ios-search-strong' style="font-size:20px">&nbsp</i>Search Nearby</button>

                  
                  
            <button class="button button-calm button-full" ng-show="mylist"  ng-click="showList()">Show in List</button>
                               <a> <button type="submit" id="button2"  ng-click="searchThis(store)" data-inline="true" class="button button-full button-dark" ng-show="focus"><i class='ion-navigate' style="font-size:20px" onClick="document.getElementById('map-canvas').scrollIntoView();">&nbsp</i>Navigate Me</button></a>
               <div id="map-canvas" class="map rounded item size" data-tap-disabled="true" ng-show="mapItem" ></div>
               <div id="map-canvas1"  ng-show="mapIt"></div>
                <button class="button button-calm button-full" ng-show="mymap" ng-click="showMap(store)">Show in Map</button>
               
                
              
                <div id="results"  class="panel" ng-show="Results">

              <h2 class="heading1">Profiles</h2>
              <div class="list font-all">
      <div ng-repeat="place in places" >
        <a class="item item-avatar" ng-click="hello()" ng-href='/#/details/{{place._id}}'>
          <img class="product-thumbnail" ng-src={{place.cover}}>
         <h2 style="font-size:22px" >{{place.name}}</h2>
         <p>{{place.area}}</p>
        </a>
       </div>
          </div>
             
              <h2 class="heading1">Extra's</h2>
               <div class="list font-all">
                   <div class="item" ng-repeat="extra in extras" >
                     <h2 style="font-size:22px">{{extra.name}}</h2>
                    </div>
                </div>
             </div>
       
          </div>
  </ion-content>
   <ion-footer-bar class="bar-dark">
          <h1 class="title" style=" font-size:25px; ">F9</h1>
    </ion-footer-bar>
      </ion-side-menu-content>
          <ion-side-menu side="left">

    <ion-list >
     <a  ng-click="hello()" ng-href="/#/home"> <ion-item nav-clear menu-toggle>  <h3> Home <i class="ion-eye" style="font-size:25px"></i> </h3></ion-item></a>
        <a ng-click="hello()" ng-href="/#/userReviews" > <ion-item nav-clear menu-toggle>  <h3>  Your Reviews <i class="ion-eye" style="font-size:25px"></i> </h3></ion-item></a>
      <ion-item nav-clear menu-toggle>  <h3>  Recommended Shops<i class="ion-eye" style="font-size:25px"></i> </h3></ion-item>
      <ion-item nav-clear menu-toggle>  <h3>  About Us<i class="ion-eye" style="font-size:25px"></i> </h3></ion-item>
            <ion-item nav-clear menu-toggle>  <h3>  Logout<i class="ion-eye" style="font-size:25px"></i> </h3></ion-item>

         </ion-list>
    </ion-side-menu>
  </ion-side-menus>


<!-- Modals -->


  <script id="automotive-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Automotive Category</h1>
     <i ng-click="closeModals(1)" class="ion-ios-close" style="font-size:35px"></i>
    </ion-header-bar>
    <ion-content>
       <label class="item item-input item-select">
            <div class="input-label">
                 Choose Automotive Category
           </div>
            <select ng-model="selectedAutomotive.categoryId" ng-options="category.categoryId as category.name for category in chooseAutomotive" ng-change="closeModal(1,selectedAutomotive.categoryId)"></select>
           </label>
    </ion-content>
  </ion-modal-view>
</script>


<script id="education-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Education & Sports Category</h1>
           <i ng-click="closeModals(2)" class="ion-ios-close" style="font-size:35px"></i>
    </ion-header-bar>
    <ion-content>
       <label class="item item-input item-select">
            <div class="input-label">
                 Choose Something in Education & Sports Category
           </div>
            <select ng-model="selectedEducation.categoryId" ng-options="category.categoryId as category.name for category in chooseEducation" ng-change="closeModal(2,selectedEducation.categoryId)"></select>
           </label>
    </ion-content>
  </ion-modal-view>
</script>



<script id="restaurantsandfoods-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Restaurant And Foods Category</h1>
           <i ng-click="closeModals(3)" class="ion-ios-close" style="font-size:35px"></i>
    </ion-header-bar>
    <ion-content>
       <label class="item item-input item-select">
            <div class="input-label">
                 Choose Something in Restaurant And Foods Category
           </div>
            <select ng-model="selectedrestaurantsandfoods.categoryId" ng-options="category.categoryId as category.name for category in chooserestaurantsandfoods" ng-change="closeModal(3,selectedrestaurantsandfoods.categoryId)"></select>
           </label>
    </ion-content>
  </ion-modal-view>
</script>


<script id="men-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Men Category</h1>
           <i ng-click="closeModals(4)" class="ion-ios-close" style="font-size:35px"></i>
    </ion-header-bar>
    <ion-content>
       <label class="item item-input item-select">
            <div class="input-label">
                 Choose Something in Men Category
           </div>
            <select ng-model="selectedMen.categoryId" ng-options="category.categoryId as category.name for category in chooseMen" ng-change="closeModal(4,selectedMen.categoryId)"></select>
           </label>
    </ion-content>
  </ion-modal-view>
</script>


<script id="women-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Women Category</h1>
           <i ng-click="closeModals(5)" class="ion-ios-close" style="font-size:35px"></i>
    </ion-header-bar>
    <ion-content>
       <label class="item item-input item-select">
            <div class="input-label">
                 Choose Something in Women Category
           </div>
            <select ng-model="selectedWomen.categoryId" ng-options="category.categoryId as category.name for category in chooseWomen" ng-change="closeModal(5,selectedWomen.categoryId)"></select>
           </label>
    </ion-content>
  </ion-modal-view>
</script>






<script id="kids-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Kids Category</h1>
           <i ng-click="closeModals(6)" class="ion-ios-close" style="font-size:35px"></i>
    </ion-header-bar>
    <ion-content>
       <label class="item item-input item-select">
            <div class="input-label">
                 Choose Something in Kids Category
           </div>
            <select ng-model="selectedKid.categoryId" ng-options="category.categoryId as category.name for category in chooseKid" ng-change="closeModal(6,selectedKid.categoryId)"></select>
           </label>
    </ion-content>
  </ion-modal-view>
</script>


<script id="generalitems-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">General Items Category</h1>
           <i ng-click="closeModals(7)" class="ion-ios-close" style="font-size:35px"></i>
    </ion-header-bar>
    <ion-content>
       <label class="item item-input item-select">
            <div class="input-label">
                 Choose Something in General Items Category
           </div>
            <select ng-model="selectedgenItem.categoryId" ng-options="category.categoryId as category.name for category in choosegenItem" ng-change="closeModal(7,selectedgenItem.categoryId)"></select>
           </label>
    </ion-content>
  </ion-modal-view>
</script>

<script id="householdgoods-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">House Hold & Tech. Category</h1>
           <i ng-click="closeModals(8)" class="ion-ios-close" style="font-size:35px"></i>
    </ion-header-bar>
    <ion-content>
       <label class="item item-input item-select">
            <div class="input-label">
                 Choose Something in House Hold & Tech. Category
           </div>
            <select ng-model="selectedhouseHold.categoryId" ng-options="category.categoryId as category.name for category in choosehouseHold" ng-change="closeModal(8,selectedhouseHold.categoryId)"></select>
           </label>
    </ion-content>
  </ion-modal-view>
</script>




<script id="places-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Place Category</h1>
           <i ng-click="closeModals(9)" class="ion-ios-close" style="font-size:35px"></i>
    </ion-header-bar>
    <ion-content>
       <label class="item item-input item-select">
            <div class="input-label">
                 Choose Something in Place Category
           </div>
            <select ng-model="selectedPlace.categoryId" ng-options="category.categoryId as category.name for category in choosePlace" ng-change="closeModal(9,selectedPlace.categoryId)"></select>
           </label>
    </ion-content>
  </ion-modal-view>
</script>

