<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<meta http-equiv="Content-Security-Policy" content="  media-src *">
	<title>Search It !!</title>


	<link href="lib/ionic/css/ionic.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
		<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">

	<!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
	<link href="css/ionic.app.css" rel="stylesheet">
	-->

	<!-- ionic/angularjs js -->
	<script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic/js/angular/angular-resource.min.js"></script>
	<!-- cordova script (this will be a 404 during development) -->
	<!--<script src="cordova.js"></script> -->
<script src="js/app.js"></script>
<script src="js/Controller.js"></script>
<script src="js/services.js"></script>
	<!-- your app's js -->

</head>

<body ng-csp="" ng-app="dbProject">
	
<ion-nav-view class="background"></ion-nav-view>
 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
 <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
<script src="lib/angular-websocket/angular-websocket.js"></script>
<script src="lib/ngCordova/dist/ng-cordova.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.ui.map.js"></script>
    <script type="text/javascript" src="js/jquery.ui.map.services.js"></script>
    <script type="text/javascript" src="js/jquery.ui.map.extensions.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-messages.js"></script>
<!--<script src="js/services.js"></script>-->




<!-- Modals -->


  <script id="automotive-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Automotive Category</h1>
    </ion-header-bar>
    <ion-content>
       <label class="item item-input item-select">
            <div class="input-label">
                 Choose Automotive Category
           </div>
            <select ng-model="selectedAutomotive.categoryId" ng-options="category.categoryId as category.name for category in chooseAutomotive" ng-change="closeModal(1,selectedAutomotive.categoryId)"></select>
           </label>
    </ion-content>
  </ion-modal-view>
</script>


<script id="education-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Education & Sports Category</h1>
    </ion-header-bar>
    <ion-content>
       <label class="item item-input item-select">
            <div class="input-label">
                 Choose Something in Education & Sports Category
           </div>
            <select ng-model="selectedEducation.categoryId" ng-options="category.categoryId as category.name for category in chooseEducation" ng-change="closeModal(2,selectedEducation.categoryId)"></select>
           </label>
    </ion-content>
  </ion-modal-view>
</script>



<script id="restaurantsandfoods-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Restaurant And Foods Category</h1>
    </ion-header-bar>
    <ion-content>
       <label class="item item-input item-select">
            <div class="input-label">
                 Choose Something in Restaurant And Foods Category
           </div>
            <select ng-model="selectedrestaurantsandfoods.categoryId" ng-options="category.categoryId as category.name for category in chooserestaurantsandfoods" ng-change="closeModal(3,selectedrestaurantsandfoods.categoryId)"></select>
           </label>
    </ion-content>
  </ion-modal-view>
</script>


<script id="men-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Men Category</h1>
    </ion-header-bar>
    <ion-content>
       <label class="item item-input item-select">
            <div class="input-label">
                 Choose Something in Men Category
           </div>
            <select ng-model="selectedMen.categoryId" ng-options="category.categoryId as category.name for category in chooseMen" ng-change="closeModal(4,selectedMen.categoryId)"></select>
           </label>
    </ion-content>
  </ion-modal-view>
</script>


<script id="women-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Women Category</h1>
    </ion-header-bar>
    <ion-content>
       <label class="item item-input item-select">
            <div class="input-label">
                 Choose Something in Women Category
           </div>
            <select ng-model="selectedWomen.categoryId" ng-options="category.categoryId as category.name for category in chooseWomen" ng-change="closeModal(5,selectedAutomotive.categoryId)"></select>
           </label>
    </ion-content>
  </ion-modal-view>
</script>






<script id="kids-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Kids Category</h1>
    </ion-header-bar>
    <ion-content>
       <label class="item item-input item-select">
            <div class="input-label">
                 Choose Something in Kids Category
           </div>
            <select ng-model="selectedKid.categoryId" ng-options="category.categoryId as category.name for category in chooseKid" ng-change="closeModal(6,selectedKid.categoryId)"></select>
           </label>
    </ion-content>
  </ion-modal-view>
</script>


<script id="generalitems-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">General Items Category</h1>
    </ion-header-bar>
    <ion-content>
       <label class="item item-input item-select">
            <div class="input-label">
                 Choose Something in General Items Category
           </div>
            <select ng-model="selectedgenItem.categoryId" ng-options="category.categoryId as category.name for category in choosegenItem" ng-change="closeModal(7,selectedgenItem.categoryId)"></select>
           </label>
    </ion-content>
  </ion-modal-view>
</script>

<script id="householdgoods-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">House Hold & Tech. Category</h1>
    </ion-header-bar>
    <ion-content>
       <label class="item item-input item-select">
            <div class="input-label">
                 Choose Something in House Hold & Tech. Category
           </div>
            <select ng-model="selectedhouseHold.categoryId" ng-options="category.categoryId as category.name for category in choosehouseHold" ng-change="closeModal(8,selectedhouseHold.categoryId)"></select>
           </label>
    </ion-content>
  </ion-modal-view>
</script>




<script id="places-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Place Category</h1>
    </ion-header-bar>
    <ion-content>
       <label class="item item-input item-select">
            <div class="input-label">
                 Choose Something in Place Category
           </div>
            <select ng-model="selectedPlace.categoryId" ng-options="category.categoryId as category.name for category in choosePlace" ng-change="closeModal(9,selectedPlace.categoryId)"></select>
           </label>
    </ion-content>
  </ion-modal-view>
</script>






</body>
</html>
